<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>
<!--  changed below from content to date-->
<H1>Journal Entry
   <%=@journal.id%> <h1><%= @journal.date %></h>
</h1>
<form action="/journals/<%=@journal.id%>/edit" method="get">
<input type="submit" name="Edit Journal" value="Edit Journal">
</form>
<br>

<form action="/journals/<%=@journal.id%>/delete" method="post">
<input type="hidden" name="_method" value="delete">
<label for="">Delete journal:</label>
 <br>
<input type="submit" name="submit" value="Delete journal" id="Delete journal">
</form>












</div>
<div id "greatful">
<h2>I am grateful for ...</h2>

<h4><input type="text" name ="content_greatful" value="<%= @journal.content_greatful %>"> </h4>

</div>
<div id="todaygreat">
<h2>What would make today great ...</h2>
<h4><input type="text" name = "content_today_great" value="<%= @journal.content_today_great %>"></h4>

  </div>
  <div id="affirmation">
  <h2>Daily Affirmation: I am...</h2>
  <h1> </h1>	<input type="text" name = "content_affirmation" value="<%= @journal.content_affirmation %>"> <br>
    <br>
</div>
<div id="amazing">
<h2>An Amazing thing that happened today ...</h2>

<h4><input type="text" name = "content_amazing" value="<%= @journal.content_amazing %>"> </h4>

</div>
<div id="better">
  <h2>How could I have made today even better?</h2>
<h4><input type="text" name = "content_better" value="<%= @journal.content_better%>"> </h4>
  </div>
